{% extends 'map/base.html' %}
{% load static %}

{% block content %}
<head>
  <title>Map View</title>
</head>
<!-- The map fills the entire background -->
<div id="map"></div>

<!-- Build button -->
<button id="buildRouteBtn">Build Route</button>

<!-- Reset button -->
<button id="resetBtn">Reset</button>




<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
  // Initialize the map
  var map = L.map('map').setView([51.5074, -0.1278], 13);

  // Add OSM tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  // Array to store clicked coordinates
  var clickedCoords = [];

  // Layer groups
  var markersLayer = L.layerGroup().addTo(map);
  var routeLayer = L.layerGroup().addTo(map);

  // Handle map clicks
  map.on('click', function(e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;

    //  ORS expects [lon, lat]
    clickedCoords.push([lng, lat]);

    // Add marker to layer group
    L.marker([lat, lng])
      .bindPopup("Lat: " + lat.toFixed(5) + "<br>Lng: " + lng.toFixed(5))
      .addTo(markersLayer)
      .openPopup();

    console.log("Stored coordinates:", clickedCoords);
  });

  //Build Route button
  document.getElementById('buildRouteBtn').addEventListener('click', function() {
    let pointCap = 20;
    if (clickedCoords.length < 2) {
      alert("Select at least two points to build a route.");
      return;
    }
    if (clickedCoords.length > pointCap){
        alert("Select less than "+pointCap+" points to build a route.");
      return;
    }

    fetch("{% url 'get_route' %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ coords: clickedCoords })
    })
    .then(res => res.json())
    .then(data => {
      routeLayer.clearLayers();

      // Convert [lon, lat] to [lat, lon] for Leaflet
      var coords = data.features[0].geometry.coordinates.map(c => [c[1], c[0]]);
      L.polyline(coords, {color: 'blue', weight: 4}).addTo(routeLayer);

      console.log("Route data:", data);
    })
    .catch(err => console.error(err));
  });


  // Reset button click handler
  document.getElementById('resetBtn').addEventListener('click', function() {
    markersLayer.clearLayers();
    routeLayer.clearLayers();
    clickedCoords = [];
    console.log("Cleared all points and routes");
  });

</script>





{% endblock content %}